doctype 5
html
  head
    title Multiplayer Minesweeper
    link(rel="shortcut icon", href="#")
    link(rel="stylesheet", href="/static/styles.css")
  body
    h1 Multiplayer minesweeper
    block body
